@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./sidebar.css";
@import "./historyList.css";
@import "./general.css";
@import "./strategy.css";
@import "./userMessage.css";
@import "./botResponce.css";
@import "./chatInput.css";
@import "./chatHead.css";




/* small navbar */
@import "./smallNavbar.css";

:root {
  --inactive: #0f948b;
  --background: #013b37;
  --darkBackground: #012926;
  --iconsColor: #15cc8f;
  --hoverColor: #0f948b;
}

body {
  background-color: var(--background) !important;
  font-family: "Roboto", sans-serif !important;
}
