.strategy {
  color: #fff;
  font-size: 20px;
  height: 90svh;
  overflow: auto;
  width: 90%;
  padding: 20px;
  margin: auto;
}
.strategy {
  overflow: auto;
}
.strategy::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.strategy {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.strategy::-webkit-scrollbar {
  width: 0px;
}
@media screen and (max-width:899px) {
  .strategy{
    width: 100%;
  }
}